<%- include('includes/head') %>
    <%- include('includes/nav')%>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="mt-5 mb-5">
                    <h1 class="text-center">Postagem</h1>
                </div>
                <div>
                    <a href="/admin/postagens"><button class="btn btn-success">Nova postagem</button></a>
                </div>
                <%- include('includes/messages')%>
                
            </div>
            <div class="col-2"></div>
        </div>
        <%- include('includes/footer') %>